@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: 'Lato', sans-serif; 
}

body {
    font-size: 12px;
    background-color: #080808;
}

/* HEADER */
header {
    background-color: black;
}

.top-header {
    display: flex;
    width: 90vw;
}

.logo2 img {
    height: 70px;
    margin-right: 40px;
}

.logo1 {
    display: none;
    height: 100px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 60px;
    padding: 10px 10px;
    margin: auto;
}

.search-bar input {
    background-color: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 12px;
    color: #cac7ff;
    padding: 5px
}

.search-bar input::placeholder {
    color: #cac7ff
}

.search-bar button i {
    font-size: 14px;
    color: #cac7ff
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: rgba(128, 255, 0, 0.7);
    cursor: pointer;
}


.main-header-top-bar {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 10px;
    width: 100%;

}

.icons-top-bar a {
    text-decoration: none;
    color: #7EFF00;
    font-size: 14px;
    align-items: center;
    padding: 8px
}

.icons-top-bar {
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: center;
    padding: 15px;
}

.icons-top-bar a i {
    font-size: 18px;

}

.badge:after {
    content: attr(value);
    /* value is the number displayed next to the cart */
    font-size: 10px;
    background: red;
    border-radius: 50%;
    padding: 4px;
    position: relative;
    left: -4px;
    top: -16px;
    opacity: 0.9;
}

/* NAVIGATION BAR */

.nav-bar {
    display: flex;
    justify-content: space-around;
    display: none;
    align-items: center;
}

.nav-bar a {
    text-decoration: none;
    color: #cac7ff;

}

.nav-bar-button {
    background-color: #4A4A4A;
    padding: 10px;
    width: 110px;
    text-align: center;
    margin: 5px 0;
    border-radius: 15px;
    transition: all 400ms ease;
}

.nav-bar-button:hover {
    color: #4A4A4A;
    background-color: #7EFF00;
}


/* BURGUER MENU */
.burger-menu {
    text-align: center;
    font-size: 1.5em;
    border-bottom: solid 1px #61a120;
    padding-top: 10px;
    background: black;
}

.burger-menu i {
    text-align: center;
    border-radius: 15%;
    border: solid 2px #7eff00;
    padding: 10px;
    color: #7eff00;
    margin-bottom: 15px;
}

/* BANNER SLIDER */

.banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: none
}

.banner {
    position: relative
}

#left {
    color: #7EFF00;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(74, 74, 74, 0.6);
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1;
    opacity: 0.6;
    display: none
}


#right {
    color: #7EFF00;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(74, 74, 74, 0.6);
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 40%;
    right: 0;
    z-index: 1;
    opacity: 0.6;
    display: none
}

.dots {
    display: flex;
    flex-direction: row;
    color: #7EFF00;
    font-size: 12px;
    padding: 3px;
    width: 100px;
    height: 30px;
    background-color: rgba(74, 74, 74, 0.6);
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0.6;
    display: none
}



/* main*/
main {
    background-image: url('../img//background/finalbackground.png');
    width: 100%;
    min-width: 260px;
}

form {
    padding: 30px;
}


.añadir-producto {
    border-bottom: 1px solid #666;
}

.normal-input {
    background-color: #252323;
    color: whitesmoke;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    max-width: 500px;
    padding-left: 5px;
    transition: all 400ms;
    border: 1px solid #757272;
}



.caja-padre input:hover {
    box-shadow: 0px 0px 3px black;
}

/* ESTILOS VALIDACIONES */

.invalido{
    border: solid 1px #FF4949;
}

.mensaje-de-error {
    color: #FF4949;
    margin-top: -15px;
    position: absolute;
    
}

form div {
    text-align: center;
    padding: 10px;
}

.caja-padre {
    background-color: #4e4e4e;
    max-width: 500px;
    margin: auto;
    border-radius: 5px;
    border-top: solid 5px #7EFF00;
    box-shadow: 0px 0px 37px #000;
}

.aclaracion{
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    font-weight: normal;
}

.large-description {
    width: 100%;
    background-color: #252323;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    height: 100px;
    max-width: 500px;
    padding-left: 5px;
    font-size: 18px;
    border: 1px solid #757272;
}



.large-description::placeholder{
    padding-top: 5px;
}


.contenedor-file {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-file input {
    display: none;
}

.contenedor-file label {
    display: block;
    padding: 8px 21px;
    border: none;
    border-radius: 5px;
    background-color: #7EFF00;
    cursor: pointer;
    width: 60%;
    font-weight: bold;
    box-shadow: 0px 0px 5px #000;
    transition: all 0.3s;
    font-size: 13px;
}

.contenedor-file label:hover{
    background-color: #59b101;
}

.contenedor-file h3 {
    padding-left: 10px;
    color: #fff;
    font-weight: normal;
}

.previsualizacion {
    max-width: 100px;
}

#imgPreview {
    max-width: 50%;
    border-radius: 5px;
}

.category {
    width: 100%;
    background-color: #252323;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    height: 35px;
    max-width: 500px;
    padding-left: 5px;
    font-size: 18px;
    border: 1px solid #757272;
}


option {
    font-size: 14px;
}

form div h2 {
    color: white;
}


form div button {
    margin: -10px;
}

.agregar {
    border: none;
    border-radius: 5px;
    font-size: 15px;
    width: 150px;
    height: 30px;
    background: #7EFF00;
    font-weight: bold;
    transition: all 0.2s;
    box-shadow: 0px 0px 5px #000;
    max-width: 300px;
}

.agregar:hover {
    background-color: #98ff31;
}

.borrar {
    border: none;
    border-radius: 5px;
    font-size: 14px;
    width: 150px;
    height: 30px;
    background-color: #7EFF00;
    font-weight: bold;
    transition: all 0.2s;
    box-shadow: 0px 0px 5px #000;
    max-width: 150px;
}

.borrar:hover {
    color: white;
    background-color: red;
    box-shadow: 0px 0px 10px #000;
}

/* WHATSAPP */
.whatsapp {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(102, 102, 102, 0.75);
    position: fixed;
    bottom: 20px;
    right: 19px;
}

.whatsapp i {
    font-size: 35px;
    color: #7EFF00;
    position: fixed;
    bottom: 28px;
    right: 28px;
    font-weight: bold;

}


/* FOOTER */

footer {
    background-color: #000;
    box-shadow: 3px 3px 30px 5px  #7EFF00;
}

.texto-redes {
    color: #fff;
    padding: 15px;
    font-size: 14px;
    text-align: center;
}

.redes {
    border-top: 1px solid #cac7ff;
    border-bottom: 1px solid #4A4A4A;
    border-radius: 1px;
}

.iconos {
    text-align: center;
}


.iconos i {
    color: white;
    padding: 5px;
    font-size: 25px;
    margin-bottom: 5px;
    transition: all 0.3s;
}

.iconos i:hover {
    color: #7EFF00;
}

.informacion {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.informacion ul li {
    font-size: 12px;
    color: #7EFF00;
    list-style-type: none;
    justify-content: center;
}

.informacion ul li:hover {
    text-decoration: underline;
}

.lista1 {
    padding: 15px;
    padding-left: 20px;
}

.lista1 h4 {
    color: #667;
    font-size: 20px;
    padding-bottom: 8px;
}

.lista2 {
    padding: 15px;
}

.lista2 h4 {
    color: #667;
    font-size: 20px;
    padding-bottom: 8px;
}

.lista3 {
    padding: 15px;
}

.lista3 h4 {
    color: #667;
    font-size: 20px;
    padding-bottom: 10px;
}

.copyright {
    color: #666666;
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
}

.modal {
    background-color: white;
}

@media (min-width:361px) {
    
    .caja-padre div input {
        font-size: 16px;
    }

    .informacion {
        justify-content: space-between;
    }
    
    .lista1 h4 {
        padding-bottom: 10px;
        font-size: 14px;
    }
    
    .lista2 h4 {
        padding-bottom: 10px;
        font-size: 14px;
    }
    
    .lista3 h4 {
        padding-bottom: 10px;
        font-size: 14px;
    }
}

@media (min-width:767px) {
    /* HEADER */

    .logo2 img {
        display: none;
        height: 100px;
    }

    .logo1 {
        display: flex;
        height: 100px;
        padding: 10px;
        margin-bottom: 30px;
    }

    .main-header-top-bar {
        display: flex;
        flex-direction: row;
        border-bottom: solid 1px #cac7ff;
        align-items: center;
        justify-content: space-between;
        width: 100%;

    }

    .icons-top-bar {
        display: flex;
        align-items: flex-end;
        width: 55%;
        justify-content: flex-end;
    }

    .icons-top-bar a {
        text-decoration: none;
        color: #7EFF00;
        font-size: 14px;
    }

    .burger-menu {
        display: none;
    }

    .nav-bar {
        display: flex;
        font-size: 13px;
    }

    .large-description{
        font-size: 16px;
    }

    /*MAIN*/

    
    .botonera{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px #666 solid;
    }

    /* FOOTER */
    .informacion {
        display: flex;
        flex-direction: row;

    }

    .redes {
        display: flex;
        justify-content: center;
        align-items: center;

        border-bottom: 1px solid #4A4A4A;
    }

    .texto-redes {
        padding: 20px;
    }

    .lista1 {
        flex:3.33
    }

    .lista2{
        flex:3.33
    }

    .lista3 {
        flex:3.33
    }


}

@media (min-width:1020px) {
    .search-bar {
        max-width: 700px;
    }

    .search-bar input::placeholder {
        font-size: 16px;
    }


    .caja-padre {
        max-width: 700px;

    }

    .caja-padre div input {
        max-width: 700px;
        font-size: 18px;
    }

    .category {
        max-width: 700px;

    }

    .large-description{
        max-width: 700px;
    }

    .agregar {
        font-size: 16px;
    }

    .borrar {
        font-size: 16px;
    }


    .informacion {
        margin-left: 10px;
        margin-right: 10px;
    }


}

