@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    font-family: 'Roboto', Arial;
    font-size: 12px;
    background-color: #080808;
  padding: 0;
}

/*
.contenedor{
    margin: 0 auto; 
    padding: 0;
}
header{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
    background-color: darkolivegreen;
    justify-content: center;
}
h1.titulo{
    font-size: 40pt;
    color: chartreuse;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
   height: 100px 
}*/
/* HEADER TOP BAR */
/* LOGO ALTERNATIVO */
/* .logo { 
    font-family: 'Press Start 2P';
    letter-spacing: 2px;
    color: #7EFF00;
    padding: 10px 10px;
    text-shadow: 0.2rem 0.5rem 0.5rem rgb(0, 0, 0);
    font-size: 24px;
    text-align: center;
    -webkit-text-stroke: 1px darkgreen;
} */


.top-header {
    display: flex;
    width: 90vw;
}

.logo2 img {
    height: 70px;
    margin-right: 40px;
}

.logo1 {
    display: none;
    height: 100px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 60px;
    padding: 10px 10px;
    margin: auto;
}

.search-bar input {
    background-color: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 12px;
    color: #cac7ff;
    padding: 5px
}

.search-bar input::placeholder {
    color: #cac7ff
}

.search-bar button i {
    font-size: 14px;
    color: #cac7ff
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: rgba(128, 255, 0, 0.7);
    cursor: pointer;
}


.main-header-top-bar {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 10px;
    width: 100%;

}

.icons-top-bar a {
    text-decoration: none;
    color: #7EFF00;
    font-size: 14px;
    align-items: center;
    padding: 10px
}

.icons-top-bar {
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: center;
    padding: 15px;
}

.icons-top-bar a i {
    font-size: 18px;

}

.badge:after {
    content: attr(value);
    /* value is the number displayed next to the cart */
    font-size: 10px;
    background: red;
    border-radius: 50%;
    padding: 4px;
    position: relative;
    left: -4px;
    top: -16px;
    opacity: 0.9;
}

/* NAVIGATION BAR */

.nav-bar {
    display: flex;
    justify-content: space-around;
    display: none;
    box-shadow: 0rem 0.6rem 3rem 0.5rem #7EFF00;
}

.nav-bar a {
    text-decoration: none;
    color: #cac7ff;
}

.nav-bar-button {
    background-color: #4A4A4A;
    padding: 10px;
    width: 110px;
    text-align: center;
    margin: 5px 0;
    border-radius: 15px;
    transition: all 400ms ease;
}

.nav-bar-button:hover {
    color: #4A4A4A;
    background-color: #7EFF00;
}


/* BURGUER MENU */
.burger-menu {
    font-size: 1.5em;
    border-top: solid 1px #cac7ff;
    border-bottom: solid 1px #4c9800;
    background-color: #000;
    padding-top: 10px;
    box-shadow: 0rem -0.3rem 2rem 0.2rem #7EFF00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-menu i {
    text-align: center;
    border-radius: 15%;
    border: solid 1px #7EFF00;
    padding: 10px;
    color: #7EFF00;
    margin-bottom: 15px;
}
.contenedor_central{
/*    display: flex;  */
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 0; 
    justify-content: center;
    background-color: gray;
/*    background-color: #ebebeb; */ 
    border: 5px dashed blue; 
}
/*
main{
   
}
.central main{
   
}
.contenedor_imagenes{
    width: 100%;
    height: auto;
    background-color: orange;
    border: 2px solid violet;
} */
.no{justify-content: center;}
.contenedor_muestra{
    width: 20%;
    height: 100%;
    background-color: yellow;
}
/*
.img_muestra{
    width: 25%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}
*/
.box_muestra{
    width: 100px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contenedor_imagen_principal{
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
/*    border: 5px dashed blue; */
}
.subtitulo_prod{
    background-color: red;
    margin-left: 15%; 
}
.imagen_prod{
    width: 40%;
    height: auto;
    margin-left: 15%;
}

section.box_contenedor_ofertas{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: #000;
/*    border: 5px solid pink;  */  
    justify-content: space-around;
}

.box{
    width: 27%;
    height: auto;
    background-color: white;
    border: 2px solid black;
    box-sizing: border-box;  
 /*   align-items: center; */
}
.h3_oferta{
    color: red;
    font-size: 18pt;
    text-align: center;
    margin-top: 5px;
}
.img_oferta{
    width: 50px;
    height: auto;
    margin:0 auto;

}
.nombre_oferta{
    font-size: 20pt;
    color: black;
}

section.contenedor_descripcion_prod{
    width: 100%;
    height: auto;
    background-color: #000;
    padding-left: 5%; 
}
p.desc{
    color: #7EFF00;
    font-size: 16pt;
}

h3.titulo_descrip_prod {
    font-size: 22pt;
    color: #667;
/*    color: white; */
}
/*
.pie_de_pagina{
    background-color: darkolivegreen;
    width: 100%;
    height: 300px;
    margin: 0;
    padding:0;
}
p.texto_final{
    font-size: 22pt;
    color: #ebebeb;
}
*/
footer {
    background-color: #000;
    box-shadow: 3px 3px 30px 5px  #7EFF00;
}

.texto-redes {
    color: #fff;
    padding: 15px;
    font-size: 14px;
    text-align: center;
}

.redes {
    border-top: 1px solid #cac7ff;
    border-bottom: 1px solid #4A4A4A;
    border-radius: 1px;
}

.iconos {
    text-align: center;
}


.iconos i {
    color: white;
    padding: 5px;
    font-size: 25px;
    margin-bottom: 5px;
    transition: all 0.3s;
}

.iconos i:hover {
    color: #7EFF00;
}

.informacion {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

.informacion ul li {
    font-size: 12px;
    color: #7EFF00;
    list-style-type: none;
    justify-content: center;
}

.informacion ul li:hover {
    text-decoration: underline;
}

.lista1 {
    padding: 15px;
    padding-left: 20px;
}

.lista1 h4 {
    color: #667;
    font-size: 20px;
    padding-bottom: 8px;
}

.lista2 {
    padding: 15px;
}

.lista2 h4 {
    color: #667;
    font-size: 20px;
    padding-bottom: 8px;
}

.lista3 {
    padding: 15px;
}

.lista3 h4 {
    color: #667;
    font-size: 20px;
    padding-bottom: 10px;
}

.copyright {
    color: #666666;
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
}


@media (min-width: 361px) {


    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .products article {

        width: 48%
    }
}

/*FOOTER*/

.aclaracion {
    font-size: 12px;
}

.lista1 h4 {
    padding-bottom: 10px;
    font-size: 14px;
}

.lista2 h4 {
    padding-bottom: 10px;
    font-size: 14px;
}

.lista3 h4 {
    padding-bottom: 10px;
    font-size: 14px;
}

@media (min-width: 767px) {

    .logo2 img {
        display: none;
        height: 100px;
    }

    .logo1 {
        display: flex;
        height: 100px;
        padding: 10px;
        margin-bottom: 30px;
    }

    .main-header-top-bar {
        display: flex;
        flex-direction: row;
        border-bottom: solid 1px #cac7ff;
        padding: 15px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .search-bar {
        width: 50%;
    }

    .icons-top-bar {
        display: flex;
        align-items: flex-end;
        width: 55%;
        justify-content: flex-end;
    }

    .icons-top-bar a {
        text-decoration: none;
        color: #7EFF00;
        font-size: 14px;
    }

    .burger-menu {
        display: none;
    }

    .nav-bar {
        display: flex
    }

    .banner img,
    #right,
    #left {
        display: initial
    }

    .dots {
        display: flex
    }

    .burger-menu {
        display: none;
    }

    main {
        width: 95%
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .products article {

        width: 23%
    }

    /*FOOTER*/

    .informacion {
        display: flex;
        flex-direction: row;

    }

    .redes {
        display: flex;
        justify-content: center;
        align-items: center;

        border-bottom: 1px solid #4A4A4A;
    }

    .texto-redes {
        padding: 20px;
    }

    .lista1 {
        flex:3.33
    }

    .lista2{
        flex:3.33
    }

    .lista3 {
        flex:3.33
    }


}

@media (min-width: 1020px) {

    .search-bar {
        width: 60%;
        max-width: 700px;
    }

    .search-bar input::placeholder {
        font-size: 14px;
    }

    .icons-top-bar {

        width: 40%;
    }

    /*FOOTER*/

    .informacion {
        margin-left: 10px;
        margin-right: 10px;
    }
}