<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/detalle_producto.css">
    <title>Detalle Producto</title>
</head>
<body>
    <div class="contenedor">
        <header class="cabecera">
            <section class="logo">
                <img class="logo" src="img/logo.PNG" alt="logo">
                <h1 class="titulo">Detalle Producto</h1>
            </section>
            <ol class="lista">
                <li><a href="./">Home</a></li>
                <li><a href="./detalle1_producto">Cambio</a></li>
            </ol>
        </header>
<!--        <div class="contenedor_central"> -->       
        <main class="contenedor_central">
        <!--            <section class="contenedor_imagenes"> -->
                        <div class="contenedor_muestra">
                                    
                            <img class="box_muestra" src="img/hp.jpg" alt="img_hp">      
                                   
                            <img class="box_muestra" src="img/hp.jpg" alt="img_hp">        
                                    
                            <img class="box_muestra" src="img/hp.jpg" alt="img_hp">        
                            
                            <img class="box_muestra" src="img/hp.jpg" alt="img_hp">
                        </div>
                
                        <div class="contenedor_imagen_principal"></div>
                                <h2 class="subtitulo_prod">PC Armada</h2>
                                <img class="imagen_prod" src="img/hp.jpg" alt="img_hp">
                        </div><!--contenedor_imagen_principal-->     
        <!--            </section><contenedor_imagenes>  -->
                    
                    <section class="box_contenedor_ofertas">
                    
                        <div class="box">
                            
                                <h4 class="h4_oferta">Ofertas</h4>
                                <img src="img/asus.jpg" alt="img_oferta" height="70px">
                                <p>Lorem ipsum dolor sit.</p>
                                <p>Velit eum culpa quas?</p>
                                <p>Quod tenetur inventore amet?</p>
                                <p>Harum suscipit dolorem nesciunt?</p>
                            
                        </div>
                        <div class="box">
                            
                                <h4 class="h4_oferta">Ofertas</h4>
                                <img src="img/lenovo.jpg" alt="img_oferta" height="70px">
                                <p>Lorem ipsum dolor sit.</p>
                                <p>Velit eum culpa quas?</p>
                                <p>Quod tenetur inventore amet?</p>
                                <p>Harum suscipit dolorem nesciunt?</p>
                            
                        </div>
                        <div
                                <h4 class="h4_oferta">Ofertas</h4>
                                <img src="img/macbook.jpg" alt="img_oferta" height="70px">
                                <p>Lorem ipsum dolor sit.</p>
                                <p>Velit eum culpa quas?</p>
                                <p>Quod tenetur inventore amet?</p>
                                <p>Harum suscipit dolorem nesciunt?</p>
                            </article>
                        </div>
                    </section><!--box_contenedor_ofertas-->
                    
                    <section class="contenedor_descripcion_prod">
                        <h3 class="titulo_descripcion_prod">Descripción Producto</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nam perspiciatis corporis impedit repellendus dolorem!</p>
                        <p>Tempore fugit, consectetur velit eos consequatur sit! Beatae ullam commodi ex, accusantium distinctio nostrum incidunt.</p>
                        <p>Quasi vel rem ut aspernatur ea dignissimos. Recusandae nihil illo perspiciatis est accusantium quas molestias!</p>
                        <p>Porro reiciendis at nulla voluptatum impedit ad accusantium nobis eveniet esse animi illo, nisi aliquid.</p>
                        <p>Hic, nam. Corporis sunt repudiandae error debitis fugiat, ipsa esse obcaecati, itaque eveniet deleniti culpa.</p>
                        <p>Atque impedit, esse ex est voluptate, mollitia quasi eum ipsam, dolor sunt nihil facilis tempore?</p>
                        <p>Labore, perferendis nulla iusto saepe reprehenderit nobis illum explicabo iure consequuntur. Voluptates numquam quas commodi.</p>
                    </section>      
        </main>
        <footer class="pie_de_pagina">
            <div class="aclaracion">
                <p class="texto_final">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus praesentium, soluta quos ex officia ab doloremque? Voluptatum, iure fuga? Distinctio assumenda minus neque illo ipsum sint repudiandae vero nulla nisi.</p>
            </div>
        </footer>
    </div>
</body>
</html>