<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:ital@1&family=Roboto:ital,wght@0,100;1,100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <title>Ingresa</title>
</head>

<body>
    <%- include('./partials/header'); %>
    <div class="whatsapp">
        <a href="https://support.google.com/?hl=es"><i class="fa-brands fa-whatsapp"></i></a>
    </div>

    <footer>
        <div class="footer">

            <div class="redes">

                <div>
                    <h3 class="texto-redes">¡Seguinos en nuestras redes sociales!</h3>
                </div>
                <div class="iconos">
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>

            <div class="informacion">
                <ul class="lista1">
                    <h4>Atención al cliente</h4>
                    <li>+54 (011) 7079-9965</li>
                    <li>Whatsapp: +54 (911) 3934-5678</li>
                    <li>Nosotros</li>
                    <li>Contáctanos</li>
                </ul>
                <ul class="lista2">
                    <h4>Términos y condiciones</h4>
                    <li>Condiciones de uso</li>
                    <li>Politicas de garantía</li>
                    <li>Políticas de privacidad</li>
                </ul>

                <ul class="lista3">
                    <h4>Preguntas frecuentes</h4>
                    <li>Preguntas frecuentes</li>
                    <li>¿Cómo comprar?</li>
                    <li>Envíos</li>

                </ul>
            </div>

            <div class="copyright">
                <p>Copyright © 2022 Pixel! E-commerce.</p>

            </div>

        </div>

    </footer>
</body>

</html>