<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/nosotros.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:ital@1&family=Roboto:ital,wght@0,100;1,100&display=swap"
        rel="stylesheet">
    <title>Pixel E-Comerce</title>
</head>

<body>

    <!-- HEADER AND NAVIGATION BAR-->
    <%- include('partials/header') %>

        <main>

            <section class="inSale">
                <h2>
                    Sobre nosotros
                </h2>
                <div class="card-userPixel">
                    <article style="cursor: pointer;">
                        <img src="/img/nosotros/julian.png" alt="producto" class="image-userPixel">
                        <div class="container-userPixel">
                            <div class="info-userPixel">
                                <p>
                                    Soy Julián Salvá y tengo 29 años. Nacido y criado en la ciudad Medellín, Colombia,
                                    ingeniero, músico y ahora programador.
                                </p>
                            </div>
                        </div>
                    </article>
                    <article style="cursor: pointer;">
                        <img src="/img/nosotros/eze.png" alt="producto" class="image-userPixel">
                        <div class="container-userPixel">
                            <div class="info-userPixel">
                                <p>
                                    Me llamo Ezequiel Muñoz, soy de Santa Fe, Argentina tengo 31 años, me gustan los
                                    deportes y los videojuegos.
                                </p>
                            </div>
                        </div>
                    </article>
                    <article style="cursor: pointer;">
                        <img src="/img/nosotros/joaquin.png" alt="producto" class="image-userPixel">
                        <div class="container-userPixel">
                            <div class="info-userPixel">
                                <p>
                                    Me llamo Joaquín Palacios, tengo 20 años, nací en Buenos Aires, Argentina, soy desarrollador
                                    web y aficionado del cine y la lectura.
                                </p>
                            </div>
                        </div>
                    </article>
                    <article style="cursor: pointer;">
                        <img src="/img/nosotros/jorge.png" alt="producto" class="image-userPixel-george">
                        <div class="container-userPixel">
                            <div class="info-userPixel">
                                <p>
                                    Soy Jorge Hernández, tengo 50 años, de Rosario, Santa Fe, diseñador gráfico y
                                    estudiante de programación.
                                </p>
                            </div>
                        </div>
                    </article>
                    <!-- <article class="last-user" style="cursor: pointer;">
                        <img src="/img/nosotros/julian.png" alt="producto" class="image-userPixel-last">
                        <div class="container-userPixel">
                            <div class="info-userPixel">
                                <p>
                                    Me llamo Adriel Anizan, soy de Bs.As. , Argentina, tengo 22 años me interesa la
                                    programación y me parece bastante entretenida.
                                </p>
                            </div>
                        </div>
                    </article> -->
                </div>



            </section>


        </main>

        <!-- WHATSAPP -->
        <%- include('./partials/whatsapp'); %>

            <!-- FOOTER -->
            <%- include('./partials/footer'); %>
</body>

</html>