<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../../css/not-found.css"> <!-- OJO SE LE PUSO ../ PREGUNTAR -->
    <title>Detalle Producto</title>
</head>

<body>
    <main>

        <div class="cuadro"><img src="/img/error.png" alt="img1" class="imagen" width="100%"></div>
        <h2>Ups, parece que la pagina que solicitas no existe!</h2>
    </main>
</body>

</html>