<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/productDetail.css">
    <title>Detalle Producto</title>
</head>

<body>
    <%- include('./partials/header'); %>
    <main>
        <section class="route-container">
            <h2 class="route-text">NOTEBOOK HP 245 G8 RYZEN 5 5500U 8GB 1TB 14 FREE</h2>
        </section>
        <section class="main-container">
            <div class="images">
                <div class="main-image">
                    <img class="prod-image" src="img/hp.png" alt="img_hp">
                </div>
                <div class="container-views">
                    <img class="view_prod" src="img/hp1.png" alt="img_hp1">
                    <img class="view_prod" src="img/hp2.png" alt="img_hp2">
                    <img class="view_prod" src="img/hp3.png" alt="img_hp3">
                </div>
            </div>
            <div class="text-options">
                <div class="box_texto_pago">
                    <h3 class="subtitulo_texto_pago">Precio</h3>
                    <p class="final-value">$116.000</p>
                    <div class="discount-container">
                        <p class="price">$154.699</p>
                        <p class="discount">25% off</p>
                    </div>


                </div>
                <div class="box_texto_pago">
                    <h3 class="subtitulo_texto_pago">Medios de Pago</h3>
                    <p class="texto_pago"> Tarjetas de Credito, debito, Mercado Pago, Transferencia Bancaria
                    </p>
                </div>

                <div class="box_texto_pago">
                    <h3 class="subtitulo_texto_pago">Formas de retiro</h3>
                    <p class="texto_pago">Recoger en nuestras sucursales o Envío gratuito a todo el país
                    </p>
                </div>
                <div class="button-container">
                    <button class="btn_compra">Agregar al carrito</button>
                </div>


            </div>

        </section>
        <section class="container-description">
            <h3 class="titulo_descripcion_prod">Descripción el Producto</h3>
            <p class="prod-description">La laptop HP 245 sigue el ritmo de estilos de trabajo móviles gracias a un
                diseño delgado y ligero. La hermosa pantalla con su angosto borde y relación de pantalla y cuerpo grande
                brinda amplio espacio para trabajar o reproducir contenido.</p>

        </section>
        <section class="product-atributes">
            <h3 class="titulo_descripcion_prod">Características</h3>
            <div class="container-atributes">
                <div class="atribute">
                    <h2>Almacenamiento</h2>
                    <p>1 TB</p>
                    <p>Solid state</p>
                </div>
                <div class="atribute">
                    <h2>RAM</h2>
                    <p>4 GB</p>
                    <p>Expandible</p>
                </div>

                <div class="atribute">
                    <h2>Pantalla</h2>
                    <p>15.6"</p>
                    <p>LED 1366x768</p>
                </div>
                <div class="atribute">
                    <h2>Conectividad</h2>
                    <p>Wi-fi</p>
                    <p>Bluetooth</p>
                </div>
                <div class="atribute">
                    <h2>Procesador</h2>
                    <p>3.10 Ghz</p>
                    <p>Caché: 4 Mb</p>
                </div>
                <div class="atribute">
                    <h2>Sistema operativo</h2>
                    <p>Windows 10 64 bits</p>
                </div>
            </div>

        </section>
        <%- include('./partials/whatsapp'); %>
        <!-- <section class="box_contenedor_ofertas">
            <div class="box">
                <h3 class="h3_oferta">Ofertas</h3>
                <img src="img/asus.jpg" alt="img_oferta" height="70px">
                <h3 class="nombre_oferta">ASUS</h3>
                <p>Lorem ipsum dolor sit.</p>
                <p>Velit eum culpa quas?</p>
                <p>Quod tenetur inventore amet?</p>
                <p>Harum suscipit dolorem nesciunt?</p>
            </div>
            <div class="box">
                <h3 class="h3_oferta">Ofertas</h3>
                <img src="img/lenovo.jpg" alt="img_oferta" height="70px">
                <h3 class="nombre_oferta">LENOVO</h3>
                <p>Lorem ipsum dolor sit.</p>
                <p>Velit eum culpa quas?</p>
                <p>Quod tenetur inventore amet?</p>
                <p>Harum suscipit dolorem nesciunt?</p>
            </div>
            <div class="box">
                <h3 class="h3_oferta">Ofertas</h3>
                <img src="img/macbook.jpg" alt="img_oferta" height="70px">
                <h3 class="nombre_oferta">MACBOOK</h3>
                <p>Lorem ipsum dolor sit.</p>
                <p>Velit eum culpa quas?</p>
                <p>Quod tenetur inventore amet?</p>
                <p>Harum suscipit dolorem nesciunt?</p>
            </div>
        </section> -->

    </main>
    <%- include('./partials/footer'); %>
</body>

</html>