<link rel="stylesheet" href="/css/header.css">


<header>
    <div class="main-header-top-bar">
        <div class="top-header">
            <!-- <a href="./" class="logo"> Pixel!</a> LOGO ALTERNATIVO-->
            <a onclick="location.href='/';" class="logo1"> <img src="/img/pixel-logo.png" alt="logo"></a>
            <!-- logo-mobile -->
            <a onclick="location.href='/';" class="logo2"> <img src="/img/logo-pixel-mobile.png" alt="logo"></a>
            <form action='https://www.google.com/search?q=' method="get" class="search-bar">
                <input type="text" placeholder="Monitores, teclados, tarjetas de video" name="q">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        </form>
        <div class="icons-top-bar">
            <% if (locals.isLogged) { %>
             <a href="/"><i class="fa-regular fa-user"></i> <%= locals.userLogged.fullName %> </a>
            <% } else { %>
            <a href="/user/login"><i class="fa-regular fa-user"></i> Ingresar</a>
            <a href="/user/register">Registrarse</a>
            <% } %>
            <a href="/user/productCart"><i class="fa badge" style="font-size:24px" value=5>&#xf07a;</i></a>
        </div>
    </div>
    <div class="burger-menu">
        <i class="fa-solid fa-bars"></i>
    </div>
    <nav class="nav-bar">

        <a href="/product/list"> 
            <div class="nav-bar-button">
                <p>Productos</p>
            </div>
        </a>

        <a href="#">
            <div class="nav-bar-button">
                <p>Arma tu PC</p>
            </div>
        </a>

        <a href="#">
            <div class="nav-bar-button">
                <p>PC listos</p>
            </div>
        </a>

        <a href="#">
            <div class="nav-bar-button">
                <p>Quiénes somos</p>
            </div>
        </a>

        <a href="#">
            <div class="nav-bar-button">
                <p>Ayuda</p>
            </div>
        </a>
    </nav>

</header>