<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>Pixel E-Comerce</title>
</head>

<body>
    <header>
        <div class="main-header-top-bar">
            <h1 class="logo">Pixel!</h1>
            <form action='https://www.google.com/search?q=' method="get" class="search-bar">
                <input type="text" placeholder="Monitores, teclados, tarjetas de video" name="q">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="icons-top-bar">
                <a href="#"><i class="fa-regular fa-user"></i>Ingresar</a>
                <a href="#">Registrarse</a>
                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>

        </div>
        

    </header>
    <nav>

    </nav>
    <main>

    </main>
    <footer>

    </footer>
</body>

</html>