<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Pixel E-Comerce</title>
</head>

<body>
    <header>
        <div class="main-header-top-bar">
            <!-- <a href="./" class="logo"> Pixel!</a> LOGO ALTERNATIVO-->
            <a href="./" class="logo"> <img src="/img/pixel-logo.png" alt="logo"></a>
            <!-- logo-mobile -->
            <!-- <a href="./" class="logo2"> <img src="/img/logo-pixel-mobile.png" alt="logo"></a> -->
            <form action='https://www.google.com/search?q=' method="get" class="search-bar">
                <input type="text" placeholder="Monitores, teclados, tarjetas de video" name="q">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="icons-top-bar">
                <a href="/login"><i class="fa-regular fa-user"></i> Ingresar</a>
                <a href="/register">Registrarse</a>
                <a href="/productCart"><i class="fa badge" style="font-size:24px" value=2>&#xf07a;</i></a>
            </div>
        </div>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <nav class="nav-bar">

            <a href="#">
                <div class="nav-bar-button">
                    <p>Productos</p>
                </div>
            </a>

            <a href="#">
                <div class="nav-bar-button">
                    <p>Arma tu PC</p>
                </div>
            </a>

            <a href="#">
                <div class="nav-bar-button">
                    <p>PC listos</p>
                </div>
            </a>

            <a href="#">
                <div class="nav-bar-button">
                    <p>Quiénes somos</p>
                </div>
            </a>

            <a href="#">
                <div class="nav-bar-button">
                    <p>Ayuda</p>
                </div>
            </a>
        </nav>

        <div class="banner">
            <img src="/img/banner2.jpg" alt="banner">
            <i class="fa-solid fa-angle-left" id="left"></i>
            <i class="fa-solid fa-angle-right" id="right"></i>
            <div class="dots">
                <i class="fa-solid fa-circle"></i>
                <i class="fa-solid fa-circle"></i>
                <i class="fa-solid fa-circle"></i>
            </div>
            <!-- <img src="/img/banner2.jpg" alt="banner"> -->

        </div>

    </header>

    <main>

        <section class="inSale">
            <h2>LO MEJOR DEL DÍA</h2>
            <div class="products">
                <article>
                    <img src="/img/asus.jpg" alt="producto">
                    <div class="productInfo">
                        <p class="price">$59.99</p>
                        <p class="discount">25% off</p>
                        <p class="description">Laptop</p>
                    </div>
                </article>

                <article>
                    <img src="/img/lenovo.jpg" alt="producto">
                    <div class="productInfo">
                        <p class="price">$59.99</p>
                        <p class="discount">25% off</p>
                        <p class="description">Laptop</p>
                    </div>
                </article>

                <article>
                    <img src="/img/hp.jpg" alt="producto">
                    <div class="productInfo">
                        <p class="price">$59.99</p>
                        <p class="discount">25% off</p>
                        <p class="description">Laptop</p>
                    </div>
                </article>

                <article>
                    <img src="/img/bangho.jpg" alt="producto">
                    <div class="productInfo">
                        <p class="price">$59.99</p>
                        <p class="discount">25% off</p>
                        <p class="description">Laptop</p>
                    </div>
                </article>
            </div>
        </section>

        <section class="recomended">
            <h2>RECOMENDACIONES</h2>
            <div class="products">
                <article>
                    <img src="/img/asus.jpg" alt="producto">
                    <div class="productInfo">
                        <p class="price">$59.99</p>
                        <p class="discount">25% off</p>
                        <p class="description">Laptop</p>
                    </div>
                </article>

                <article>
                    <img src="/img/lenovo.jpg" alt="producto">
                    <div class="productInfo">
                        <p class="price">$59.99</p>
                        <p class="discount">25% off</p>
                        <p class="description">Laptop</p>
                    </div>
                </article>

                <article>
                    <img src="/img/hp.jpg" alt="producto">
                    <div class="productInfo">
                        <p class="price">$59.99</p>
                        <p class="discount">25% off</p>
                        <p class="description">Laptop</p>
                    </div>
                </article>

                <article>
                    <img src="/img/bangho.jpg" alt="producto">
                    <div class="productInfo">
                        <p class="price">$59.99</p>
                        <p class="discount">25% off</p>
                        <p class="description">Laptop</p>
                    </div>
                </article>
            </div>
        </section>

        <div class="whatsapp">
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
        </div>

    </main>
    <footer>
        <div class="footer">

            <div class="redes">

                <div>
                    <h3>¡Seguinos en nuestras redes sociales!</h3>
                </div>
                <div class="iconos">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>

            <div class="informacion">
                <ul class="lista1">
                    <h4>Atención al cliente</h4>
                    <li>+54 (011) 7079-9965</li>
                    <li>Whatsapp: +54 (911) 3934-5678</li>
                    <li>Nosotros</li>
                    <li>Contáctanos</li>
                </ul>
                <ul class="lista2">
                    <h4>Términos y condiciones</h4>
                    <li>Condiciones de uso</li>
                    <li>Politicas de garantía</li>
                    <li>Políticas de privacidad</li>
                </ul>

                <ul class="lista3">
                    <h4>Preguntas frecuentes</h4>
                    <li>Preguntas frecuentes</li>
                    <li>¿Cómo comprar?</li>
                    <li>Envíos</li>

                </ul>
            </div>

        </div>

        </div>

    </footer>
</body>

</html>