<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:ital@1&family=Roboto:ital,wght@0,100;1,100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <title>Ingresa</title>
</head>

<body>
    <header>
        <div class="main-header-top-bar">
            <img class="logo" src="/img/logo-pixel.png" alt="logo">
            <form action='https://www.google.com/search?q=' method="get" class="search-bar">
                <input type="text" placeholder="Monitores, teclados, tarjetas de video" name="q">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="icons-top-bar">
                <a href="/login"><i class="fa-regular fa-user"></i> Ingresar</a>
                <a href="/register">Registrarse</a>
                <a href="/productCart"><i class="fa badge" style="font-size:24px" value=2>&#xf07a;</i></a>
            </div>
        </div>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <nav class="nav-bar">

            <a href="#">
                <div class="nav-bar-button">
                    <p>Productos</p>
                </div>
            </a>

            <a href="#">
                <div class="nav-bar-button">
                    <p>Arma tu PC</p>
                </div>
            </a>

            <a href="#">
                <div class="nav-bar-button">
                    <p>PC listos</p>
                </div>
            </a>

            <a href="#">
                <div class="nav-bar-button">
                    <p>Quiénes somos</p>
                </div>
            </a>

            <a href="#">
                <div class="nav-bar-button">
                    <p>Ayuda</p>
                </div>
            </a>
        </nav>

    </header>
    <main>
        <!-- ingresa -->
        <form action="/login" method="post" class="form-login">
            <h5>Iniciar Sesión con mi mail</h5>
            <input class="cajita" type="checkbox" name="" value=""> 
            <input class="controls" type="text" style="color: rgb(255, 255, 255) ;" name="usuario" value="" placeholder="Usuario" required minlength="3" >
            <input class="controls" type="password"  style="color: rgb(255, 255, 255);" name="contrasena" value="" placeholder="Contraseña" autocomplete="current-password" required minlength="3">
            <a style="color: rgb(36, 31, 31); padding: 6px;; " href="/register"> Registrame</a>
            <a class="contraseña" style="color: rgb(36, 31, 31);" href="#"> ¿Olvidastes tu Contraseña?</a>
            <div class="button-container">
                <a style="text-decoration: none;" href="/index"><button type="submit"
                        style="color: #000;">LOGIN</button></a>
            </div>
            <p></p>
            <div class="redes">
                <h5 class="google" style="padding-bottom: 32px">Ingresar con Google
                    <i class="fab fa-google"></i>
                </h5>
                <h5 class="facebook" style="padding-bottom: 32px;">Ingresar con Facebook
                    <i class="fab fa-facebook-square"></i>
                </h5>
            </div>
            </sección>

    </main>
    </header>
    <div class="whatsapp">
        <a href="https://support.google.com/?hl=es"><i class="fa-brands fa-whatsapp"></i></a>
    </div>

    <footer>
        <div class="footer">

            <div class="redes">

                <div>
                    <h3>¡Seguinos en nuestras redes sociales!</h3>
                </div>
                <div class="iconos">
                    <i class="fab fa-whatsapp"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>

            <div class="informacion">
                <ul class="lista1">
                    <h4>Atención al cliente</h4>
                    <li>+54 (011) 7079-9965</li>
                    <li>Whatsapp: +54 (911) 3934-5678</li>
                    <li>Nosotros</li>
                    <li>Contáctanos</li>
                </ul>
                <ul class="lista2">
                    <h4>Términos y condiciones</h4>
                    <li>Condiciones de uso</li>
                    <li>Politicas de garantía</li>
                    <li>Políticas de privacidad</li>
                </ul>

                <ul class="lista3">
                    <h4>Preguntas frecuentes</h4>
                    <li>Preguntas frecuentes</li>
                    <li>¿Cómo comprar?</li>
                    <li>Envíos</li>

                </ul>
            </div>

        </div>

        </div>

    </footer>
</body>

</html>